<div style="width: 40%; margin-left:30vw; margin-right:30vw;">
       <h1 style="text-align: center">크루패스</h1>
    <form action="/passwordSearch" method="post">
      이메일<br>
      <input type="text" name="email", placeholder="Email">
      <br><br>
      이름<br>
      <input type="name" name="name", placeholder="Name">
      <br><br>
      전화번호<br>
      <input type="phoneNumber" name="phone_numb", placeholder="PhoneNumber">
        <br><br>

      <input class="button" type="submit" value="임시 비밀번호 발급">
    </form>
      </div>