<div style="width:40%;margin-left:30vw; margin-right:30vw;">
<div class="col-sm-6">
        <script>
        <p> 임시 비밀번호는 </p>
        <p>  <%=memberinfo.password%></p>
        <p> 입니다. 로그인 후 다시 이용해주세요.</p>
        </p>
        </script>
        <form>
                <a href = "#">
                        <input type = "button" value = "로그인 화면으로">
                </a>
        </form>




  </div>
</div>