<div style="width: 80%; margin-left:10vw; margin-right:10vw;">
  <section>
    <h2>동아리명</h2>
      <h3><font color = "gray">oo 동아리</font></h3>
  </section>
    <form name="login" action="passwordSearch.html" method="post">
      <h4>1.지원동기가 무엇인가요?</h4>
      <input type="text" name="answer1" style="width: 100%;height: 300px">
      <br><br>
      <h4>2.자신의 장단점은 무엇인가요?</h4>
      <input type="text" name="answer2" style="width: 100%;height: 300px">
      <br><br>
      <h4>3. 관련 경험 중 어려웠던 경험과 해결했던 과정을 서술해주세요.</h4>
      <input type="text" name="answer3" style="width: 100%;height: 300px">
        <br><br>
       <h4>첨부파일</h4>
       <input type="file"/>
    </form>
        </div>
~              