<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CREW PASS</title>
    <link rel="stylesheet" href="/css/crew_style.css">
    
    </head>
    <body>

 <header>
        <!-- 로고 및 로그인부분 -->
        <nav>
                <button type = "button" class= "logo" onclick="location.href='http://localhost/'">
                        <img src="/img/logo.JPG" width="200" height="60">
                </button>
            <span class="login">
                <a href="/myPage">마이페이지</a>
                <a href="#">로그아웃</a>
            </span>
        </nav>
        </header>
      <body>
        <div id="nav">
                <div class="col-sm nav-align">
                        <a href="/applied_member">
                                <span class="button">applied_member</span>
                        </a>
                        <a href="/scrapped">
                                <span class="button">scrapped</span>
                        </a>
                        <a href="/passwordSearch">
                                <span class="button">passwordSearch</span>
                        </a>

                </div>
        </div>
        
              <%- body %>

</body>

</html>