<div style="width:40%;margin-left:30vw; margin-right:30vw;">
<div class="col-sm-6">
        <script>
                var random_pw = Math.random().toString(36).slice(-8);
                /*
                const changeUserPW = await memberinfo.update(
                        {password: random_pw},
                        {
                                where: {
                                email: user_Email,
                                name: user_Name,
                                phone_numb: user_PhoneNumber

                                },

                        }
                ); */
                document.write('<p>임시 비밀번호는 ' + random_pw + '입니다. 로그인 후 다시 이용해주세요.</p>');
        </script>
<form>
                <a href = "#">
                        <input type = "button" value = "로그인 화면으로">
                </a>
        </form>




  </div>
</div>