<section>
  <h2 style="font-size: 40px; text-align: center;">
    지원 이력
  </h2>
  <!--지원 이력 표-->
  <div style="width: 100%; margin-left:30vw; margin-right:30vw;">
    <table style="width:40%">
        <thead>
            <tr>
                <th style="width: 10%;">No.</th>
                <th style="width: 30%;">동아리명</th>
              </tr>
        </thead>
        <tbody>
        <% num= 1; %>
        <% application.forEach(application => { %>
        <tr>
                <td><%= num %></td>
                <td> <%= application.supporter_numb %></td>
                <td></td>
        <% num += 1; %>
        </tr>
        <% }); %>
        </tbody>
    </table>
  </div>
</section>
~                  